html{
  background: lightgray;
}
h1 {
  color: #ff8dd3;
}

.InitialPresentation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5% 20% 2% 20%;
}
.TextPresentation{
    text-align: center;
    font-size: xxx-large;
    text-transform: uppercase;
    font-size: serif;
    background:aqua;
    opacity: 0.6;
    border-radius: 31px;
  }
.ButtonInitial{
  display: flex;
  justify-content: center;
}
.StartButton{
  height: 9vh;
  width: 25vh;
  border-radius: 27px;
  border: solid 8px black;
  font-size: 30px;
  background:aqua;
}
.CategoryName{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
}
.ButtonName{
  height: 25vh;
  width: 40vh;
  border-radius: 10px;
  background:aqua;
  font-size: 30px;
}
.ButtonIngredient{
  height: 25vh;
  width: 40vh;
  border-radius: 10px;
  background:aqua;
  font-size: 30px;
}
.ButtonNotAlcohol{
  height: 25vh;
  width: 40vh;
  border-radius: 10px;
  background:aqua;
  font-size: 30px;
}
.ButtonSuggestion{
  height: 25vh;
  width: 40vh;
  border-radius: 10px;
  background:aqua;
  font-size: 30px;
}
.TextSelect {
  text-align: center;
  font-size: 60px;
  background: 
  aliceblue;
}
.DataCategory{
justify-content: center;
display: flex;
flex-direction: column;
}
.BackButtonCategory{
  height: 10vh;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 20px;
  background:lightskyblue;
  font-size: 55px;
}
p:hover{
  background: red;
}
.EnterDataState{
  text-align: center;
}
p{
    text-align: center;
    font-size: 36px;
    background: 
    #ffaf7a;
    opacity: 0.9;
}

.StrIngredient{
  display: flex;
  justify-content: center;
  background: 
  aliceblue;
}
.StrIngredient:hover{
  font-size: 35px;
  background: red;

}
.DrinkThumb{
  height: 60vh;
  width: auto;
  border-radius: 60px;
}
span{
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.SearchButtonData{
    height: 20vh;
    border-radius: 10px;
    width: 20vh;
    background: 
    aqua;
    font-size: 30px;
    margin: 20vh;

}
.BackButtonData{
  height: 20vh;
  border-radius: 10px;
  width: 20vh;
  background: 
  aqua;
  font-size: 30px;
  margin: 20vh;
}
.ExitButtonData{
  height: 20vh;
  border-radius: 10px;
  width: 20vh;
  background:aqua;
  font-size: 30px;
  margin: 1vh;
}
.InputEnterData{
  height: 20vh;
  width: 50%;
  font-size: 40px;
  text-align: center;
  background:deepskyblue;
  color:white;
}
.InputEnterData:hover{
color: azure;
background: red;
}
p{
    text-align: center;
    font-size: 36px;
    background: 
    #ffaf7a;
    opacity: 0.9;
}
img:hover{
  height: 80vh;
  width: auto;
}
